python-scripts/01-cisco-config-L3-interfaces/config_backup_files/*-backup.config
python-scripts/02-cisco-switch-interfaces-descriptions/config_backup_files/*-backup.config
python-scripts/02-cisco-switch-interfaces-descriptions/csv_reports*